<table class="tabular syn-table">
        <thead>
        <tr>
            <th *ngFor="let col of columns" class="{{col.cssClass}} tabular__{{col.label}}">

                <!-- sortable column -->
                <a class="tabular__sorter text-blue-dark" *ngIf="col.sortable" (click)="onSortClickHandler(col.id)">{{col.label}}<i class="material-icons" *ngIf="orderBy == col.id">{{iconDirection}}</i></a>

                <!-- non sortable column -->
                <span *ngIf="!col.sortable">{{col.label}}</span>
            </th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let row of rows | paginate: config.pagination | simpleSearch: searchTerm">
            <td *ngFor="let col of columns" class="{{col.cssClass}} tabular__{{col.label}}">

                <!-- icon type -->
                <i *ngIf="col.dataType == 1" class="material-icons">{{row[col.id]}}</i>

                <!-- string type -->
                <span *ngIf="col.dataType == 0">{{row[col.id]}}</span>

                <!-- date type -->
                <span *ngIf="col.dataType == 2">{{row[col.id] | date}}</span>

                <!-- date time type -->
                <span *ngIf="col.dataType == 5">{{row[col.id] | date:'medium'}}</span>

                <!-- status type -->
                <span *ngIf="col.dataType == 4" class="syn-badge text-uppercase" [ngClass]="{'syn-badge-green':row[col.id],'syn-badge-error':!row[col.id]}">{{(row[col.id])?'ACTIVE':'INACTIVE'}}</span>

                <!-- actions type -->
                <div *ngIf="col.dataType==3" class="syn-flex tabularActions">
                    <div *ngFor="let action of row[col.id]" class="tabularActions__action">
                        <span [syn-tooltip]="getActionTooltip(action)"
                              [disabled]="!getActionDisabledState(action)"
                              [animation]="true"
                              placement="top">
                        <button *ngIf="action.routeType==0"
                                [routerLink]="action.route"
                                class="syn-btn syn-btn-transparent syn-btn-sm text-gray-light {{action.css}}"
                                [innerHTML]="action.label"
                                [disabled]="getActionDisabledState(action)"></button>
                        </span>
                        <span [syn-tooltip]="getActionTooltip(action)"
                              [disabled]="!getActionDisabledState(action)"
                              [animation]="true"
                              placement="top">
                        <button *ngIf="action.routeType==1"
                                (click)='executeCallback($event,action.callback)'
                                class="syn-btn syn-btn-transparent syn-btn-sm text-gray-light {{action.css}}"
                                [innerHTML]="action.label"
                                [disabled]="getActionDisabledState(action)"></button>
                        </span>


                    </div>
                </div>

            </td>
        </tr>
        </tbody>
    </table>

    <syn-tabular-pagination #p [id]="config.pagination.id" (pageChange)="config.pagination.currentPage = $event"></syn-tabular-pagination>
