<section #container class="syn-section scrollable-y">
    <div class="syn-header">
        <div class="syn-header-icon">
            <i class="material-icons">border_all</i>
        </div>
        <div class="syn-header-details">
            <syn-breadcrumb [prefix]="'Home'"></syn-breadcrumb>
            <h1>Tabular</h1>
        </div>
    </div>

    <h3>Summary</h3>
    <p>The tabular component is a table with sort, filter and pagination features baked in.</p>

    <h3 id="usage">Usage</h3>

    <pre><code class="typescript">
        // RECOMMENDED
        import {{ '{' }}TabularModule} from "../src/tabular/tabular.module";
        // or
        import {{ '{' }}TabularModule} from "../src";

        @NgModule({{ '{' }}
          imports: [TabularModule.forRoot(),...]
        })
        export class AppModule(){{ '{' }}}
    </code>
        <code class="html">
        &#x3C;syn-tabular
          [rows]=&#x22;rowData&#x22;
          [columns]=&#x22;columnData&#x22;
          [config]=&#x22;tabularConfig&#x22;
          [callback]=&#x22;onActionClickHandler&#x22;
          (refresh)=&#x22;refreshDataHandler($event)&#x22;&#x3E;
        &#x3C;/syn-tabular&#x3E;
    </code>
    </pre>

    <p></p>


    <h3 id="examples">Examples</h3>
    <syn-tabular
        [rows]="rowData"
        [columns]="columnData"
        [config]="tabularConfig"
        [callback]="onActionClickHandler"
        [searchTerm]="searchTerm"
        (refresh)="refreshDataHandler($event)">
    </syn-tabular>

   <p>&nbsp;</p>
    <h4>With Search</h4>
    <input type="text" class="syn-form-control"  placeholder="Search.." [(ngModel)]="searchTerm">
    <hr>
    <syn-tabular
            [rows]="rowData"
            [columns]="columnData"
            [config]="tabularConfig"
            [callback]="onActionClickHandler"
            [searchTerm]="searchTerm"
            (refresh)="refreshDataHandler($event)">
    </syn-tabular>

    <h3 id="code">Code</h3>
    <syn-tabset>
        <tab heading='Template'>
    <pre><code class="html">
         &#x3C;syn-tabular
          [rows]=&#x22;rowData&#x22;
          [columns]=&#x22;columnData&#x22;
          [config]=&#x22;tabularConfig&#x22;
          [callback]=&#x22;onActionClickHandler&#x22;
          (refresh)=&#x22;refreshDataHandler($event)&#x22;&#x3E;
        &#x3C;/syn-tabular&#x3E;

        &#x3C;p&#x3E;&#x26;nbsp;&#x3C;/p&#x3E;
        &#x3C;h4&#x3E;With Search&#x3C;/h4&#x3E;
        &#x3C;input type=&#x22;text&#x22; class=&#x22;syn-form-control&#x22;  placeholder=&#x22;Search..&#x22; [(ngModel)]=&#x22;searchTerm&#x22;&#x3E;
        &#x3C;hr&#x3E;
        &#x3C;syn-tabular
                [rows]=&#x22;rowData&#x22;
                [columns]=&#x22;columnData&#x22;
                [config]=&#x22;tabularConfig&#x22;
                [callback]=&#x22;onActionClickHandler&#x22;
                [searchTerm]=&#x22;searchTerm&#x22;
                (refresh)=&#x22;refreshDataHandler($event)&#x22;&#x3E;
        &#x3C;/syn-tabular&#x3E;
    </code>
    </pre>
        </tab>
        <tab heading='Typescript'>
     <pre><code class="typescript">
    import {{ '{' }}Component} from &#x27;@angular/core&#x27;;
    import {{ '{' }}AppService} from &#x22;../app.service&#x22;;
    import {{ '{' }}BaseComponent} from &#x22;../base.component&#x22;;
    import {{ '{' }}ITabularColumn, TabularColumnTypes} from &#x22;../../modules/tabular/tabular-column.interface&#x22;;
    import {{ '{' }}TabularColumn} from &#x22;../../modules/tabular/tabular-column.model&#x22;;
    import {{ '{' }}ITabularConfig,TabularSize} from &#x22;../../modules/tabular/tabular-config.interface&#x22;;
    import {{ '{' }}ActionConfigRouteType} from &#x22;../../modules/tabular/actions-config.interface&#x22;;

    @Component({{ '{' }}
        selector: &#x27;tabular-component&#x27;,
        templateUrl: &#x27;tabular.tpl.html&#x27;
    })
    export class TabularComponent extends BaseComponent {{ '{' }}

        private searchTerm:string = "";
        private rowData:any[] = [];
        private columnData:TabularColumn[] = [
            new TabularColumn(&#x27;avatar&#x27;,&#x27;Avatar&#x27;, TabularColumnTypes.Icon, false, &#x27;tabular__avatar text-gray-light text-center&#x27;),
            new TabularColumn(&#x27;id&#x27;,&#x27;Id&#x27;, TabularColumnTypes.String, true),
            new TabularColumn(&#x27;title&#x27;,&#x27;Title&#x27;, TabularColumnTypes.String, true),
            new TabularColumn(&#x27;firstname&#x27;,&#x27;First Name&#x27;, TabularColumnTypes.String, true),
            new TabularColumn(&#x27;surname&#x27;,&#x27;Surname&#x27;, TabularColumnTypes.String, true),
            new TabularColumn(&#x27;email&#x27;,&#x27;Email&#x27;, TabularColumnTypes.String, true),
            new TabularColumn(&#x27;actions&#x27;,&#x27;Actions&#x27;, TabularColumnTypes.Actions, false, &#x27;tabular__actions&#x27;)
        ];
        private tabularConfig:ITabularConfig = {{ '{' }}
            size: TabularSize.Default,
            pagination:{{ '{' }}
                id: &#x27;DEMO_TABULAR_INSTANCE&#x27;,
                itemsPerPage: 5,
                currentPage: 1
            },
        };


        /**
         * Function used in the callback actions
         * @param type
         * @param data
         */
        onActionClickHandler = (type,data) =&#x3E; {{ '{' }}
          alert(&#x27;You clicked the &#x27;+type+&#x27; button. Arguments:&#x27;+type+ &#x27; and &#x27;+data);
        };


        /**
         * Refresh data handler for data grid.
         */
        private refreshDataHandler(){{ '{' }}
            this.rowData = [];
            this.getTabularData();
        }

        /**
         * Static data for example
         */
        private getTabularData(){{ '{' }}
        for(let i=0;i&#x3C;20;i++)
            this.rowData.push({{ '{' }}
                avatar:&#x27;account_circle&#x27;,
                id:i,
                title:&#x22;Mr&#x22;,
                firstname:&#x22;Brian&#x22;,
                surname:&#x22;Pulliese&#x22;,
                email:&#x22;brian@synapze.com.au&#x22;,
                actions:[
                    {{ '{' }}
                        id    : &#x22;row_person_view&#x22;,
                        label : &#x27;&#x3C;i class=&#x22;material-icons&#x22;&#x3E;visibility&#x3C;/i&#x3E;&#x27;,
                        route : [ &#x27;/tabular&#x27; ],
                        routeType: ActionConfigRouteType.Default,
                        disabledConfig:{{ '{' }}disabled:true,tooltip:&#x22;Not enough permission&#x22;}
                    },
                    {{ '{' }}
                        id    : &#x22;row_person_edit&#x22;,
                        label : &#x27;&#x3C;i class=&#x22;material-icons&#x22;&#x3E;edit&#x3C;/i&#x3E;&#x27;,
                        routeType: ActionConfigRouteType.Callback,
                        callback:[this.onActionClickHandler,&#x22;edit&#x22;,1]
                    },
                    {{ '{' }}
                        id    : &#x22;row_person_delete&#x22;,
                        label : &#x27;&#x3C;i class=&#x22;material-icons&#x22;&#x3E;delete&#x3C;/i&#x3E;&#x27;,
                        routeType: ActionConfigRouteType.Callback,
                        callback:[this.onActionClickHandler,&#x22;delete&#x22;,1]
                    },
                    {{ '{' }}
                        id    : &#x22;row_person_delete_forever&#x22;,
                        label : &#x27;&#x3C;i class=&#x22;material-icons&#x22;&#x3E;delete_forever&#x3C;/i&#x3E;&#x27;,
                        routeType: ActionConfigRouteType.Callback,
                        callback:[this.onActionClickHandler,&#x22;perm-delete&#x22;,1]
                    }
                ]
            });
    }


        constructor(appService:AppService){{ '{' }}
            super(appService);
            this.getTabularData();
        }
    }

    </code>
    </pre>
        </tab>
    </syn-tabset>


    <h3 id="api">API Reference</h3>

    <h4 class="text-blue">TabularComponent</h4>

    <table class="syn-table">
        <thead>
        <tr>
            <th>Input</th>
            <th>Type</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>columns</td>
            <td><code class="nohighlight">TabularColumn[]</code></td>
            <td>Collection of column configurations</td>
        </tr>
        <tr>
            <td>rows</td>
            <td><code class="nohighlight">any[]</code></td>
            <td>Collection of row data</td>
        </tr>
        <tr>
            <td>config</td>
            <td><code class="nohighlight">ITabularConfig</code></td>
            <td>Configuration options for a tabular instance</td>
        </tr>
        <tr>
            <td>callback</td>
            <td><code class="nohighlight">Function</code></td>
            <td>The function to call when an action route type is callback.</td>
        </tr>
        </tbody>
    </table>

    <p>&nbsp;</p>

    <table class="syn-table">
        <thead>
        <tr>
            <th>Output</th>
            <th>Type</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>refresh</td>
            <td><code class="nohighlight">EventEmitter</code></td>
            <td>Event fired when refresh is called. Host should refresh data of input.</td>
        </tr>
        </tbody>
    </table>

    <h4 class="text-blue">TabularConfig</h4>

    <table class="syn-table">
        <thead>
        <tr>
            <th>Property</th>
            <th>Type</th>
            <th>Default</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>config</td>
            <td><code class="nohighlight">ITabularConfig</code></td>
            <td><code> {{ '{' }}
                size:TabularSize.Default,
                pagination: {{ '{' }}
                id: 'DEFAULT_TABULAR_INSTANCE',
                itemsPerPage: 5,
                currentPage: 1
                },
                };</code></td>
            <td>Configuration options for a tabular instance, ex: Pagination, size etc..</td>
        </tr>
        <tr>
            <td>defaultOrderBy</td>
            <td><code class="nohighlight">string[]</code></td>
            <td>['id']</td>
            <td>The row data key used for default order. Example id.</td>
        </tr>
        <tr>
            <td>defaultOrderByDirection</td>
            <td><code class="nohighlight">OrderByDirection</code></td>
            <td>OrderByDirection.Ascending</td>
            <td>The order by direction</td>
        </tr>
        </tbody>
    </table>

    <h4 class="text-blue">IActionsConfig</h4>

    <table class="syn-table">
        <thead>
        <tr>
            <th>Property</th>
            <th>Type</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>id</td>
            <td><code class="nohighlight">number</code></td>
            <td>Unique identifier</td>
        </tr>
        <tr>
            <td>label</td>
            <td><code class="nohighlight">string</code></td>
            <td>Label used for display purposes. Can be html for icons.</td>
        </tr>
        <tr>
            <td>css</td>
            <td><code class="nohighlight">string</code></td>
            <td><span class="syn-badge syn-badge-gray-invert">OPTIONAL</span> Css class name to append to button.</td>
        </tr>
        <tr>
            <td>disabledConfig</td>
            <td><code class="nohighlight">IDisabledInput</code></td>
            <td><span class="syn-badge syn-badge-gray-invert">OPTIONAL</span>  Disable action option.</td>
        </tr>
        <tr>
            <td>routeType</td>
            <td><code class="nohighlight">ActionConfigRouteType</code></td>
            <td>Route type, could be route by link or route by callback.</td>
        </tr>
        <tr>
            <td>route</td>
            <td><code class="nohighlight">any[]</code></td>
            <td>Route to go to when clicked. RouteType must be ActionConfigRouteType.Route.</td>
        </tr>
        <tr>
            <td>callback</td>
            <td><code class="nohighlight">Function</code></td>
            <td>Function to call when clicked. RouteType must be ActionConfigRouteType.Callback.</td>
        </tr>
        </tbody>
    </table>

    <h4 class="text-blue">IDisabledInput</h4>

    <table class="syn-table">
        <thead>
        <tr>
            <th>Property</th>
            <th>Type</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>disabled</td>
            <td><code class="nohighlight">boolean</code></td>
            <td>Toggle for disabled state</td>
        </tr>
        <tr>
            <td>tooltip</td>
            <td><code class="nohighlight">string</code></td>
            <td>Messaged displayed in a tooltip when an action is disabled</td>
        </tr>
        </tbody>
    </table>

</section>
<aside class="syn-sidebar syn-sidebar-transparent scrollable-y">
    <syn-nav [data]="contentsNav"  [callback]="scrollTo"></syn-nav>
</aside>