<section #container class="syn-section scrollable-y">
    <div class="syn-header">
        <div class="syn-header-icon">
            <i class="material-icons">menu</i>
        </div>
        <div class="syn-header-details">
            <syn-breadcrumb [prefix]="'Home'"></syn-breadcrumb>
            <h1>Nav</h1>
        </div>
    </div>

    <h3>Summary</h3>     <span class="syn-badge syn-badge-warning">EXPERIMENTAL</span>
    <p>The nav component is used for single or multi level navigation. </p>

    <h3 id="usage">Usage</h3>
    <p>The nav component is used in the sidebar and navbar in this UI doc.</p>

    <pre><code class="typescript">
        // RECOMMENDED
        import {{ '{' }}NavModule} from "../src/nav/nav.module";
        // or
        import {{ '{' }}NavModule} from "../src";

        @NgModule({{ '{' }}
          imports: [NavModule.forRoot(),...]
        })
        export class AppModule(){{ '{' }}}
    </code>
        <code class="html">
        &#x3C;syn-nav [data]=&#x22;navConfig&#x22; [callback]=&#x22;gotoRoute&#x22;&#x3E;&#x3C;/syn-nav&#x3E;
    </code>
    </pre>

    <p></p>

    <h3 id="examples">Examples</h3>

    <syn-nav [data]="examplePlainNav" [callback]="gotoRoute"></syn-nav>
    <hr>
    <syn-nav [data]="examplePlainVerticalNav" [callback]="gotoRoute"></syn-nav>
    <hr>
    <syn-nav [data]="exampleIconVerticalNav" [callback]="gotoRoute"></syn-nav>
    <hr>
    <syn-nav [data]="exampleGroupVerticalNav" [callback]="gotoRoute"></syn-nav>
    <hr>
    <syn-nav [data]="examplePlainThemeNav" [callback]="gotoRoute"></syn-nav>
    <hr>
    <syn-nav [data]="exampleBlueThemeNav" [callback]="gotoRoute"></syn-nav>
    <hr>

    <h3 id="code">Code</h3>
    <syn-tabset>
        <tab heading='Template'>
    <pre><code class="html">
        &#x3C;syn-nav [data]=&#x22;examplePlainNav&#x22; [callback]=&#x22;gotoRoute&#x22;&#x3E;&#x3C;/syn-nav&#x3E;
        &#x3C;hr&#x3E;
        &#x3C;syn-nav [data]=&#x22;examplePlainVerticalNav&#x22; [callback]=&#x22;gotoRoute&#x22;&#x3E;&#x3C;/syn-nav&#x3E;
        &#x3C;hr&#x3E;
        &#x3C;syn-nav [data]=&#x22;exampleIconVerticalNav&#x22; [callback]=&#x22;gotoRoute&#x22;&#x3E;&#x3C;/syn-nav&#x3E;
        &#x3C;hr&#x3E;
        &#x3C;syn-nav [data]=&#x22;exampleGroupVerticalNav&#x22; [callback]=&#x22;gotoRoute&#x22;&#x3E;&#x3C;/syn-nav&#x3E;
        &#x3C;hr&#x3E;
        &#x3C;syn-nav [data]=&#x22;examplePlainThemeNav&#x22; [callback]=&#x22;gotoRoute&#x22;&#x3E;&#x3C;/syn-nav&#x3E;
        &#x3C;hr&#x3E;
        &#x3C;syn-nav [data]=&#x22;exampleBlueThemeNav&#x22; [callback]=&#x22;gotoRoute&#x22; &#x3E;&#x3C;/syn-nav&#x3E;
    </code>
    </pre>
        </tab>
        <tab heading='Typescript'>
     <pre><code class="typescript">
    import {{ '{' }} Component } from &#x27;@angular/core&#x27;;
    import {{ '{' }}INav,INavItem,NavDirection} from &#x22;../../src/nav/nav.interface&#x22;;

    @Component({{ '{' }}
        selector: &#x27;nav-component&#x27;,
        templateUrl: &#x27;app/nav/nav.tpl.html&#x27;
    })
    export class NavComponent  {{ '{' }}

        private navPlainOptions: INavItem[] = [
            {{ '{' }}
                label: &#x22;Documentation&#x22;,
                path: &#x22;/documentation&#x22;
            },
            {{ '{' }}
                label: &#x22;Support&#x22;,
                path: &#x22;/support&#x22;
            },
            {{ '{' }}
                label: &#x22;Version 1.0.0&#x22;,
                path: &#x22;/version&#x22;
            }
        ];

        private navIconOptions: INavItem[] = [
            {{ '{' }}
                label: &#x22;Documentation&#x22;,
                path: &#x22;/documentation&#x22;,
                icon:&#x22;insert_drive_file&#x22;
            },
            {{ '{' }}
                label: &#x22;Support&#x22;,
                path: &#x22;/support&#x22;,
                icon:&#x22;live_help&#x22;
            },
            {{ '{' }}
                label: &#x22;Version 1.0.0&#x22;,
                path: &#x22;/version&#x22;,
                icon:&#x22;info_outline&#x22;,
                active:true
            }
        ];

        private navGroupOptions: INavItem[] = [
            {{ '{' }}
              label: &#x27;heading 1&#x27;
            },
            {{ '{' }}
                label: &#x22;Documentation&#x22;,
                path: &#x22;/documentation&#x22;,
                icon:&#x22;insert_drive_file&#x22;
            },
            {{ '{' }}
                label: &#x27;heading 2&#x27;
            },
            {{ '{' }}
                label: &#x22;Support&#x22;,
                path: &#x22;/support&#x22;,
                icon:&#x22;live_help&#x22;
            },
            {{ '{' }}
                label: &#x22;Version 1.0.0&#x22;,
                path: &#x22;/version&#x22;,
                icon:&#x22;info_outline&#x22;
            }
        ];

        private examplePlainNav:INav = {{ '{' }}
            config:{{ '{' }}
                direction:NavDirection.Horizontal
            },
            items: this.navPlainOptions
        };

        private examplePlainVerticalNav:INav = {{ '{' }}
            config:{{ '{' }}
                direction:NavDirection.Vertical
            },
            items: this.navPlainOptions
        };

        private exampleIconVerticalNav:INav = {{ '{' }}
            config:{{ '{' }}
                direction:NavDirection.Vertical
            },
            items: this.navIconOptions
        };

        private exampleGroupVerticalNav:INav = {{ '{' }}
            config:{{ '{' }}
                direction:NavDirection.Vertical
            },
            items: this.navGroupOptions
        };

         private examplePlainThemeNav:INav = {{ '{' }}
            config:{{ '{' }}
                direction:NavDirection.Vertical,
                theme:NavTheme.Plain
            },
            items: this.navPlainOptions
        };

        private exampleBlueThemeNav:INav = {{ '{' }}
            config:{{ '{' }}
                direction:NavDirection.Vertical,
                theme:NavTheme.Blue
            },
            items: this.navPlainOptions
        };

        constructor(){{ '{' }}
        }
    }
    </code>
    </pre>
        </tab>
    </syn-tabset>


    <h3 id="api">API Reference</h3>

    <h4 class="text-blue">NavComponent</h4>

    <table class="syn-table">
        <thead>
        <tr>
            <th>Input</th>
            <th>Type</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>data</td>
            <td><code class="nohighlight">INav</code></td>
            <td>Configuration and navigation items</td>
        </tr>
        </tbody>
    </table>

    <h4 class="text-blue">NavConfig</h4>

    <table class="syn-table">
        <thead>
        <tr>
            <th>Property</th>
            <th>Type</th>
            <th>Default</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>items</td>
            <td><code class="nohighlight">INavItem[]</code></td>
            <td>[]</td>
            <td>Navigation items</td>
        </tr>
        <tr>
            <td>direction</td>
            <td><code class="nohighlight">NavDirection</code></td>
            <td>NavDirection.Horizontal</td>
            <td>Direction of nav items, Horizontal or Vertical</td>
        </tr>
        <tr>
            <td>theme</td>
            <td><code class="nohighlight">NavTheme</code></td>
            <td>NavTheme.Default</td>
            <td>Navigation themes, Plain, Blue or Default.</td>
        </tr>
        </tbody>
    </table>

</section>
<aside class="syn-sidebar syn-sidebar-transparent scrollable-y">
    <syn-nav [data]="contentsNav"  [callback]="scrollTo"></syn-nav>
</aside>