<section #container class="syn-section scrollable-y">
    <div class="syn-header">
        <div class="syn-header-icon">
            <i class="material-icons">tab</i>
        </div>
        <div class="syn-header-details">
            <syn-breadcrumb [prefix]="'Home'"></syn-breadcrumb>
            <h1>Tabs</h1>
        </div>
    </div>

    <h3>Summary</h3>
    <p>The tab component is a small complete navigation component. Do I really need to explain what tabs are?. </p>

    <h3 id="usage">Usage</h3>
    <p>The tabs component is used below to show template and typescript code.</p>

    <pre><code class="typescript">
        // RECOMMENDED
        import {{ '{' }}TabsModule} from "../src/tabs/tabs.module";
        // or
        import {{ '{' }}TabsModule} from "../src";

        @NgModule({{ '{' }}
          imports: [TabsModule.forRoot(),...]
        })
        export class AppModule(){{ '{' }}}
    </code>
     <code>
     &#x3C;tabset&#x3E;
      &#x3C;syn-tab heading=&#x27;Tab 1 heading&#x27;&#x3E;Tab 1 content&#x3C;/tab&#x3E;
      &#x3C;tab&#x3E;
        &#x3C;template tabHeading&#x3E;Tab 2 heading&#x3C;/template&#x3E;
        Tab 2 content
      &#x3C;/tab&#x3E;
    &#x3C;/syn-tabset&#x3E;
     </code>
    </pre>

    <p></p>

    <h3 id="examples">Examples</h3>

    <div (click)="$event.preventDefault()">
        <p>Select a tab by setting active binding to true:</p>
        <p>
            <button type="button" class="syn-btn syn-btn-subtle" (click)="tabs[0].active = true">Select second tab</button>
            <button type="button" class="syn-btn syn-btn-gray" (click)="tabs[1].active = true">Select third tab</button>
            <button type="button" class="syn-btn syn-btn-blue" (click)="tabs[1].disabled = ! tabs[1].disabled">Enable / Disable third tab</button>
        </p>

        <syn-tabset>
            <tab heading="Static title">Static content</tab>
            <tab *ngFor="let tabz of tabs"
                 [heading]="tabz.title"
                 [active]="tabz.active"
                 (select)="tabz.active = true"
                 (deselect)="tabz.active = false"
                 [disabled]="tabz.disabled"
                 [removable]="tabz.removable"
                 (removed)="removeTabHandler(tabz)"
                 [customClass]="tabz.customClass">
                {{tabz?.content}}
            </tab>
            <tab (select)="alertMe()">
                <template tabHeading>
                    <i class="material-icons small">add_alert</i> Alert!
                </template>
                I've got an HTML heading, and a select callback. Pretty cool!
            </tab>
        </syn-tabset>


    </div>

    <h3 id="code">Code</h3>
    <syn-tabset>
        <tab heading='Template'>
    <pre><code class="html">
    &#x3C;div (click)=&#x22;$event.preventDefault()&#x22;&#x3E;
        &#x3C;p&#x3E;Select a tab by setting active binding to true:&#x3C;/p&#x3E;
        &#x3C;p&#x3E;
            &#x3C;button type=&#x22;button&#x22; class=&#x22;syn-btn syn-btn-subtle&#x22; (click)=&#x22;tabs[0].active = true&#x22;&#x3E;Select second tab&#x3C;/button&#x3E;
            &#x3C;button type=&#x22;button&#x22; class=&#x22;syn-btn syn-btn-gray&#x22; (click)=&#x22;tabs[1].active = true&#x22;&#x3E;Select third tab&#x3C;/button&#x3E;
            &#x3C;button type=&#x22;button&#x22; class=&#x22;syn-btn syn-btn-blue&#x22; (click)=&#x22;tabs[1].disabled = ! tabs[1].disabled&#x22;&#x3E;Enable / Disable third tab&#x3C;/button&#x3E;
        &#x3C;/p&#x3E;

        &#x3C;syn-tabset&#x3E;
            &#x3C;tab heading=&#x22;Static title&#x22;&#x3E;Static content&#x3C;/tab&#x3E;
            &#x3C;tab *ngFor=&#x22;let tabz of tabs&#x22;
                 [heading]=&#x22;tabz.title&#x22;
                 [active]=&#x22;tabz.active&#x22;
                 (select)=&#x22;tabz.active = true&#x22;
                 (deselect)=&#x22;tabz.active = false&#x22;
                 [disabled]=&#x22;tabz.disabled&#x22;
                 [removable]=&#x22;tabz.removable&#x22;
                 (removed)=&#x22;removeTabHandler(tabz)&#x22;
                 [customClass]=&#x22;tabz.customClass&#x22;&#x3E;
                {{tabz?.content}}
            &#x3C;/tab&#x3E;
            &#x3C;tab (select)=&#x22;alertMe()&#x22;&#x3E;
                &#x3C;template tabHeading&#x3E;
                    &#x3C;i class=&#x22;material-icons small&#x22;&#x3E;add_alert&#x3C;/i&#x3E; Alert!
                &#x3C;/template&#x3E;
                I&#x27;ve got an HTML heading, and a select callback. Pretty cool!
            &#x3C;/tab&#x3E;
        &#x3C;/syn-tabset&#x3E;


    &#x3C;/div&#x3E;
    </code>
    </pre>
        </tab>
        <tab heading='Typescript'>
     <pre><code class="typescript">
    import {{ '{' }}Component, ViewChild, ElementRef, ChangeDetectionStrategy} from &#x27;@angular/core&#x27;;
    import {{ '{' }}AppService} from &#x22;../app.service&#x22;;
    import {{ '{' }}BaseComponent} from &#x22;../base.component&#x22;;

    @Component({{ '{' }}
        selector: &#x27;tabs-component&#x27;,
        templateUrl: &#x27;app/tabs/tabs.tpl.html&#x27;,
        changeDetection: ChangeDetectionStrategy.OnPush
    })
    export class TabsComponent extends BaseComponent {{ '{' }}

        public tabs:any[] = [
            {{ '{' }}title: &#x27;Dynamic Title 1&#x27;, content: &#x27;Dynamic content 1&#x27;},
            {{ '{' }}title: &#x27;Dynamic Title 2&#x27;, content: &#x27;Dynamic content 2&#x27;, disabled: true},
            {{ '{' }}title: &#x27;Dynamic Title 3&#x27;, content: &#x27;Dynamic content 3&#x27;, removable: true},
            {{ '{' }}title: &#x27;Dynamic Title 4&#x27;, content: &#x27;Dynamic content 4&#x27;, customClass: &#x27;customClass&#x27;}
        ];

        public alertMe():void {{ '{' }}
            setTimeout(function ():void {{ '{' }}
                alert(&#x27;You\&#x27;ve selected the alert tab!&#x27;);
            });
        }

        public setActiveTab(index:number):void {{ '{' }}
            this.tabs[index].active = true;
        }

        public removeTabHandler(/*tab:any*/):void {{ '{' }}
            console.log(&#x27;Remove Tab handler&#x27;);
        }

        constructor(appService:AppService){{ '{' }}
            super(appService);
        }
    }
     </code>
     </pre>
        </tab>
    </syn-tabset>


    <h3 id="api">API Reference</h3>

    <h4 class="text-blue">TabsetComponent</h4>

    <table class="syn-table">
        <thead>
        <tr>
            <th>Input</th>
            <th>Type</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>justified</td>
            <td><code class="nohighlight">Boolean</code></td>
            <td>if true tabs fill the container and have a consistent width (*styles not yet implemented*)</td>
        </tr>
        </tbody>
    </table>

    <h4 class="text-blue">TabDirective</h4>

    <table class="syn-table">
        <thead>
        <tr>
            <th>Inputs</th>
            <th>Type</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>active</td>
            <td><code class="nohighlight">Boolean</code></td>
            <td>tab active state toggle</td>
        </tr>
        <tr>
            <td>customClass</td>
            <td><code class="nohighlight">String</code></td>
            <td>if set, will be added to the tab's class attribute</td>
        </tr>
        <tr>
            <td>heading</td>
            <td><code class="nohighlight">String</code></td>
            <td>tab header text</td>
        </tr>
        <tr>
            <td>disabled</td>
            <td><code class="nohighlight">Boolean</code></td>
            <td>if true tab can not be activated</td>
        </tr>
        <tr>
            <td>removable</td>
            <td><code class="nohighlight">Boolean</code></td>
            <td>if true tab can be removable, additional button will appear</td>
        </tr>
        </tbody>
    </table>

    <table class="syn-table">
        <thead>
        <tr>
            <th>Outputs</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>deselect</td>
            <td>fired when tab became inactive, $event:Tab equals to deselected instance of Tab component</td>
        </tr>
        <tr>
            <td>removed</td>
            <td>fired before tab will be removed</td>
        </tr>
        <tr>
            <td>select</td>
            <td>fired when tab became active, $event:Tab equals to selected instance of Tab component</td>
        </tr>
        </tbody>
    </table>

</section>
<aside class="syn-sidebar syn-sidebar-transparent scrollable-y">
    <syn-nav [data]="contentsNav"  [callback]="scrollTo"></syn-nav>
</aside>