<div class="syn-page">
    <header class="syn-page-header">

        <div class="syn-navbar">

            <h1 class="syn-navbar-logo">
                <a href="/">
                    <span>NG2-SYN</span>
                </a>
            </h1>

            <ul class="syn-nav">
                <li class="syn-nav-item" synDropdown>
                    <a class="syn-nav-link syn-nav-dropdown" href="#" synDropdownToggle>Documentation</a>
                    <div class="syn-dropdown-menu">
                        <a class="syn-dropdown-item" href="http://syn.netlify.com/docs/">SYN</a>
                        <a class="syn-dropdown-item" [routerLink]="['/']">NG2-SYN</a>
                    </div>
                </li>

                <li class="syn-nav-item">
                    <a class="syn-nav-link" href="/">Version 1.0.0</a>
                </li>
            </ul>

        </div>

    </header>
    <main class="syn-page-body"  highlight-js-content>
        <aside class="syn-sidebar scrollable-y syn-flex syn-flex-column syn-flex-justify-between">
            <syn-nav [data]="sidebarNav" [callback]="gotoRoute"></syn-nav>

            <div class="syn-flex syn-flex-justify-center">
                <a href="https://www.netlify.com">
                    <img src="https://www.netlify.com/img/global/badges/netlify-light.svg"/>
                </a>
            </div>

        </aside>
        <router-outlet></router-outlet>
    </main>
</div>
<syn-modal-placeholder></syn-modal-placeholder>