<section #container class="syn-section scrollable-y">
    <div class="syn-header">
        <div class="syn-header-icon">
            <i class="material-icons">label_outline</i>
        </div>
        <div class="syn-header-details">
            <syn-breadcrumb [prefix]="'Home'"></syn-breadcrumb>
            <h1>Breadcrumb</h1>
        </div>
    </div>

    <h3>Summary</h3> 
    <p>The breadcrumb component is a simple series of styled links indicating what a users browsing path is. </p>

    <h3 id="usage">Usage</h3>
    <p>The breadcrumb component is used at the top of this page.</p>

    <pre><code class="typescript">
    // RECOMMENDED
    import {{ '{' }}BreadcrumbModule} from "../src/breadcrumb/breadcrumb.module";
    // or
    import {{ '{' }}BreadcrumbModule} from "../src";

    @NgModule({{ '{' }}
        imports: [BreadcrumbModule.forRoot(),...]
    })
    export class AppModule(){{ '{' }}}
    </code>
        <code class="html">
    &#x3C;syn-breadcrumb [prefix]=&#x22;&#x27;Home&#x27;&#x22;&#x3E;&#x3C;/syn-breadcrumb&#x3E;
    </code>
    </pre>

    <p></p>

    <h3 id="examples">Examples</h3>

    <syn-breadcrumb></syn-breadcrumb>
    <hr>
    <syn-breadcrumb [prefix]="'Home'"></syn-breadcrumb>

    <h3 id="code">Code</h3>
    <syn-tabset>
        <tab heading='Template'>
    <pre><code class="html">        
    &#x3C;syn-breadcrumb&#x3E;&#x3C;/syn-breadcrumb&#x3E;
    &#x3C;hr&#x3E;
    &#x3C;syn-breadcrumb [prefix]=&#x22;&#x27;Home&#x27;&#x22;&#x3E;&#x3C;/syn-breadcrumb&#x3E;
    </code>
    </pre>
        </tab>
    </syn-tabset>


     <h3 id="service">Service</h3>
     <p>Add friendly names for each of the routes (paths). You can also specify regular expressions to match routes and assign a friendly name.</p>

      <pre><code class="typescript">
    import {{ '{' }}BreadcrumbService} from &#x22;../src/breadcrumb/breadcrumb.service&#x22;;
    
    export class BreadcrumbServiceDemo{{ '{' }}
        constructor(breadcrumbService:BreadcrumbService){{ '{' }}
            breadcrumbService.addFriendlyNameForRoute(&#x27;/home&#x27;, &#x27;Home Sweet Home&#x27;);
            breadcrumbService.addFriendlyNameForRoute(&#x27;/home/users&#x27;, &#x27;All users&#x27;);
            breadcrumbService.addFriendlyNameForRouteRegex(&#x27;/home/users/[0-9]/info&#x27;, &#x27;Information&#x27;);
        }
    }
      </code></pre>

    <p>Specify a callback function that will supply a name for a specific route or regex. This is intended to be used when a route contains path params. 
        It allows you display a specific name for the given id contained in the route url.</p>

     <pre><code class="typescript">
    import {{ '{' }}BreadcrumbService} from &#x22;../src/breadcrumb/breadcrumb.service&#x22;;
    
    export class BreadcrumbServiceDemo{{ '{' }}
        constructor(breadcrumbService:BreadcrumbService){{ '{' }}
            breadcrumbService.addCallbackForRoute(&#x27;/home/users/1&#x27;, this.getNameForUser);
            breadcrumbService.addCallbackForRouteRegex(&#x27;^/home/users/[0-9]$&#x27;, this.getNameForUser);
        }

        getNameForUser(id:string):string{{ '{' }}
            return &#x27;specific name for user with id&#x27;;
        }
    }
      </code></pre>


      <p>Hide certain routes (paths) from the breadcrumb trail using an exact url or regex.</p>

    <pre><code class="typescript">
    import {{ '{' }}BreadcrumbService} from &#x22;../src/breadcrumb/breadcrumb.service&#x22;;
    
    export class BreadcrumbServiceDemo{{ '{' }}
        constructor(breadcrumbService:BreadcrumbService){{ '{' }}
            breadcrumbService.hideRoute(&#x27;/home/secret&#x27;);
            breadcrumbService.hideRouteRegex(&#x27;^/home/secret/[a-zA-Z]&#x27;);
        }
    }
      </code></pre>

    <h3 id="api">API Reference</h3>

    <h4 class="text-blue">BreadcrumbComponent</h4>

    <table class="syn-table">
        <thead>
        <tr>
            <th>Input</th>
            <th>Type</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>prefix</td>
            <td><code class="nohighlight">string</code></td>
            <td>Prefix to add as the first item in the breadcrumb. Routes to the base root when clicked.</td>
        </tr>
        </tbody>
    </table>

    <h4 class="text-blue">BreadcrumbConfig</h4>

    <table class="syn-table">
        <thead>
        <tr>
            <th>Property</th>
            <th>Type</th>
            <th>Default</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>prefix</td>
            <td><code class="nohighlight">string</code></td>
            <td>Dashboard</td>
            <td>Default prefix which is the first breadcrumb which routes to the base root when clicked.</td>
        </tr>        
        </tbody>
    </table>

    <h4 class="text-blue">BreadcrumbService</h4>

    <table class="syn-table">
        <thead>
        <tr>
            <th>Method</th>
            <th>Returns</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><code>addFriendlyNameForRoute(route: string, name: string)</code></td>
            <td><code class="nohighlight">void</code></td>
            <td>Specify a friendly name for the corresponding route.</td>
        </tr>
         <tr>
            <td><code>addFriendlyNameForRouteRegex(routeRegex: string, name: string)</code></td>
            <td><code class="nohighlight">void</code></td>
            <td>Specify a friendly name for the corresponding route matching a regular expression</td>
        </tr> 
        <tr>
            <td><code>addCallbackForRoute(route: string, callback: (id: string) => string)</code></td>
            <td><code class="nohighlight">void</code></td>
            <td>Specify a callback for the corresponding route.<br>
                When a mathing url is navigatedd to, the callback function is invoked to get the name to be displayed in the breadcrumb.</td>
        </tr> 
        <tr>
            <td><code>addCallbackForRouteRegex(routeRegex: string, callback: (id: string) => string)</code></td>
            <td><code class="nohighlight">void</code></td>
            <td>Specify a callback for the corresponding route matching a regular expression.<br>
                When a mathing url is navigatedd to, the callback function is invoked to get the name to be displayed in the breadcrumb.</td>
        </tr>  
        <tr>
            <td><code>getFriendlyNameForRoute(route: string): string</code></td>
            <td><code class="nohighlight">string</code></td>
            <td>Show the friendly name for a given route (url). If no match is found the url (without the leading '/') is shown.</td>
        </tr>
        <tr>
            <td><code>hideRoute(route: string)</code></td>
            <td><code class="nohighlight">void</code></td>
            <td>Specify a route (url) that should not be shown in the breadcrumb.</td>
        </tr>
        <tr>
            <td><code>hideRouteRegex(routeRegex: string)</code></td>
            <td><code class="nohighlight">void</code></td>
            <td>Specify a route (url) regular expression that should not be shown in the breadcrumb.</td>
        </tr>
        <tr>
            <td><code>isRouteHidden(route: string)</code></td>
            <td><code class="nohighlight">booelan</code></td>
            <td>Returns true if a route should be hidden.</td>
        </tr>      
        </tbody>
    </table>

</section>
<aside class="syn-sidebar syn-sidebar-transparent scrollable-y">
    <syn-nav [data]="contentsNav"  [callback]="scrollTo"></syn-nav>
</aside>