<section #container class="syn-section scrollable-y">
    <div class="syn-header">
        <div class="syn-header-icon">
            <i class="material-icons">aspect_ratio</i>
        </div>
        <div class="syn-header-details">
            <syn-breadcrumb [prefix]="'Home'"></syn-breadcrumb>
            <h1>Modals</h1>
        </div>
    </div>

    <h3>Summary</h3>
    <p>A modal creates a mode that disables the main window, but keeps it visible with the modal window as a child window in front of it.<br>
        Mainly used for adding form content or showing a notification of some sort.</p>

    <h3 id="usage">Usage</h3>
    <p>The modal component is flexible in that you can dynamically load any custom component within the modal placeholder, as long as it uses the @Modal annotation.</p>

    <pre><code class="typescript">
        // RECOMMENDED
        import {{ '{' }}ModalModule} from "../src/modal/modal.module";
        // or
        import {{ '{' }}ModalModule} from "../src";

        @NgModule({{ '{' }}
          imports: [ModalModule.forRoot(),...]
        })
        export class AppModule(){{ '{' }}}
    </code>
    <code class="html">
        &#x3C;!--Add this placeholder component anywhere on the body.--&#x3E;
        &#x3C;syn-modal-placeholder&#x3E;&#x3C;/syn-modal-placeholder&#x3E;
    </code>

    </pre>
    <p></p>

    <h3 id="examples">Examples</h3>


    <button type="button" class="syn-btn syn-btn-blue" (click)="openModal()">Open Custom Modal</button>


    <h3 id="code">Code</h3>
    <syn-tabset>
        <tab heading='Template'>
    <pre><code class="html">
    &#x3C;!-- Open custom modal --&#x3E;
   &#x3C;button type=&#x22;button&#x22; class=&#x22;syn-btn syn-btn-blue&#x22; (click)=&#x22;openModal()&#x22;&#x3E;Open Custom Modal&#x3C;/button&#x3E;
    </code>
    </pre>
        </tab>
        <tab heading='Typescript'>
    <pre><code class="typescript">
    import {{ '{' }}Component, ComponentRef} from &#x27;@angular/core&#x27;;
    import {{ '{' }}AppService} from &#x22;../app.service&#x22;;
    import {{ '{' }}BaseComponent} from &#x22;../base.component&#x22;;
    import {{ '{' }}ModalService} from &#x22;../../src/modal/modal.service&#x22;;
    import {{ '{' }}AppModule} from &#x22;../app.module&#x22;;
    import {{ '{' }}MyCustomModalComponent} from &#x22;./custom-modal.component&#x22;;

    @Component({{ '{' }}
        selector: &#x27;modal-component&#x27;,
        templateUrl: &#x27;app/modal/modal.tpl.html&#x27;
    })
    export class ModalComponent extends BaseComponent {{ '{' }}

        private modalRef:ComponentRef&#x3C;MyCustomModalComponent&#x3E;;

        openModal(): void{{ '{' }}
            let $modal = this.modalService.create&#x3C;MyCustomModalComponent&#x3E;(AppModule, MyCustomModalComponent, {{ '{' }}
                onSuccess: (listItems) =&#x3E; {{ '{' }}
                    alert(listItems.join(&#x27;, &#x27;));
                }
            });
            $modal.subscribe((ref) =&#x3E; {{ '{' }}
                //setTimeout(() =&#x3E; {{ '{' }}
                    // close the modal after 5 seconds
                  //  ref.destroy();
                //}, 5000)
                this.modalRef = ref;
            })
        }

        constructor(appService:AppService, private modalService:ModalService) {{ '{' }}
            super(appService);
        }
    }
    </code>
    </pre>
        </tab>
        <tab heading='Custom Modal Component'>
    <pre><code class="typescript">
    import {{ '{' }}Modal} from &#x22;../../src/modal/modal.annotation&#x22;;
    import {{ '{' }}Component} from &#x22;@angular/core&#x22;;

    @Component({{ '{' }}
        selector: &#x22;my-custom-modal&#x22;,
        template: &#x60;
        &#x3C;div class=&#x22;syn-modal in fade&#x22;&#x3E;
            &#x3C;div class=&#x22;syn-modal-dialog&#x22; role=&#x22;document&#x22;&#x3E;
                &#x3C;div class=&#x22;syn-modal-content&#x22;&#x3E;
                    &#x3C;div class=&#x22;syn-modal-header&#x22;&#x3E;
                        &#x3C;h2 class=&#x22;syn-modal-title&#x22;&#x3E;Modal (todo)&#x3C;/h2&#x3E;
                    &#x3C;/div&#x3E;
                    &#x3C;div class=&#x22;syn-modal-body&#x22;&#x3E;
                       &#x3C;ul&#x3E;
                          &#x3C;li *ngFor=&#x22;let item of listItems&#x22;&#x3E;{{item}}&#x3C;/li&#x3E;
                        &#x3C;/ul&#x3E;
                    &#x3C;/div&#x3E;
                    &#x3C;div class=&#x22;syn-modal-footer&#x22;&#x3E;
                        &#x3C;button type=&#x22;button&#x22; class=&#x22;syn-btn syn-btn-subtle&#x22; (click)=&#x22;onCancel()&#x22;&#x3E;Close&#x3C;/button&#x3E;
                        &#x3C;button type=&#x22;button&#x22; class=&#x22;syn-btn syn-btn-blue&#x22; (click)=&#x22;onOk()&#x22;&#x3E;Save changes&#x3C;/button&#x3E;
                    &#x3C;/div&#x3E;
                &#x3C;/div&#x3E;
            &#x3C;/div&#x3E;
         &#x3C;/div&#x3E;
    &#x60;
    })
    @Modal()
    export class MyCustomModalComponent {{ '{' }}
        protected onSuccess: Function;
        protected destroy: Function;
        protected close: Function;
        public listItems:string[] = [&#x22;list item 1&#x22;, &#x22;list item 2&#x22;, &#x22;list item 3&#x22;];

        onCancel(): void{{ '{' }}
            this.close();
            this.destroy();
        }

        onOk(): void{{ '{' }}
            this.close();
            this.destroy();
            this.onSuccess(this.listItems);
        }
    }
    </code>
    </pre>
        </tab>

    </syn-tabset>

    <h3 id="api">API Reference</h3>

    <h4 class="text-blue">ModalPlaceholderComponent</h4>

    <table class="syn-table">
        <thead>
        <tr>
            <th>Input</th>
            <th>Type</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>n/a</td>
            <td><code class="nohighlight">n/a</code></td>
            <td>n/a</td>
        </tr>
        </tbody>
    </table>

    <h4 class="text-blue">ModalAnnotation</h4>
    <table class="syn-table">
        <thead>
        <tr>
            <th>Method</th>
            <th>Type</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>destroy</td>
            <td><code class="nohighlight">Function</code></td>
            <td>Destroys the component when the ng2 magic calls destroy</td>
        </tr>
        <tr>
            <td>close</td>
            <td><code class="nohighlight">Functino</code></td>
            <td>Closes the modal and then calls destroy</td>
        </tr>
        </tbody>
    </table>
    <h4 class="text-blue">ModalService</h4>
    <table class="syn-table">
        <thead>
        <tr>
            <th>Method</th>
            <th>Type</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>create&#x3C;T&#x3E;(module: any, component: any, parameters?: Object)</td>
            <td><code class="nohighlight">Observable&#x3C;ComponentRef&#x3C;T&#x3E;&#x3E;</code></td>
            <td>create and loads a dynamic component that is of type @modal</td>
        </tr>
        </tbody>
    </table>


</section>
<aside class="syn-sidebar syn-sidebar-transparent scrollable-y">
    <syn-nav [data]="contentsNav"  [callback]="scrollTo"></syn-nav>
</aside>