<section #container class="syn-section scrollable-y">
    <div class="syn-header">
        <div class="syn-header-icon">
            <i class="material-icons">arrow_drop_down_circle</i>
        </div>
        <div class="syn-header-details">
            <syn-breadcrumb [prefix]="'Home'"></syn-breadcrumb>
            <h1>Dropdowns</h1>
        </div>
    </div>

    <h3>Summary</h3>
    <p>Dropdowns are toggleable, contextual overlays for displaying lists of links and more.
        They are activated by click and not hover. </p>

    <h3 id="usage">Usage</h3>
    <p>The dropdown directive is used in the navbar nav items in this UI doc.</p>

    <pre><code class="typescript">
        // RECOMMENDED
        import {{ '{' }}DropdownModule} from "../src/dropdown/dropdown.module";
        // or
        import {{ '{' }}DropdownModule} from "../src";

        @NgModule({{ '{' }}
          imports: [DropdownModule.forRoot(),...]
        })
        export class AppModule(){{ '{' }}}
    </code>
    </pre>

    <p></p>

    <h3 id="examples">Examples</h3>

    <div class="syn-dropdown" synDropdown>
        <button type="button" class="syn-btn syn-btn-gray syn-btn-dropdown" synDropdownToggle>
            <span class="sr-only">Menu Button</span>
        </button>
        <div class="syn-dropdown-menu syn-dropdown-icon">
            <div class="syn-dropdown-header">Workorders</div>
            <a class="syn-dropdown-item" href="#"><i class="material-icons">insert_drive_file</i> New</a>
            <a class="syn-dropdown-item" href="#"><i class="material-icons">save</i> Save</a>
            <div class="syn-dropdown-divider"></div>
            <a class="syn-dropdown-item" href="#"><i class="material-icons">send</i> Send</a>
            <a class="syn-dropdown-item" href="#"><i class="material-icons">content_copy</i> Clone</a>
        </div>
    </div>
    <hr>
    <div class="syn-dropdown" synDropdown>
        <div class="syn-btn-split">
            <button type="button" class="syn-btn syn-btn-gray">Split Button</button>
            <button type="button" class="syn-btn syn-btn-gray syn-btn-dropdown" synDropdownToggle></button>
        </div>
        <div class="syn-dropdown-menu">
            <a class="syn-dropdown-item" href="#">Action</a>
            <a class="syn-dropdown-item" href="#">Another action</a>
            <a class="syn-dropdown-item" href="#">Something else here</a>
        </div>
    </div>
    <hr>
    <!-- Default dropup button -->
    <div class="syn-dropdown syn-dropup" synDropdown appendToBody="true">
        <button type="button" class="syn-btn syn-btn-gray syn-btn-dropdown" synDropdownToggle>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="syn-dropdown-menu">
            <a class="syn-dropdown-item" href="#">Action</a>
            <a class="syn-dropdown-item" href="#">Another action</a>
            <a class="syn-dropdown-item" href="#">Something else here</a>
        </div>
    </div>

    <h3 id="code">Code</h3>
    <syn-tabset>
        <tab heading='Template'>
    <pre><code class="html">
    &#x3C;!-- Single button --&#x3E;
    &#x3C;div class=&#x22;syn-dropdown&#x22; synDropdown&#x3E;
        &#x3C;button type=&#x22;button&#x22; class=&#x22;syn-btn syn-btn-gray syn-btn-dropdown&#x22; synDropdownToggle&#x3E;
            &#x3C;span class=&#x22;sr-only&#x22;&#x3E;Menu Button&#x3C;/span&#x3E;
        &#x3C;/button&#x3E;
        &#x3C;div class=&#x22;syn-dropdown-menu syn-dropdown-icon&#x22;&#x3E;
            &#x3C;div class=&#x22;syn-dropdown-header&#x22;&#x3E;Workorders&#x3C;/div&#x3E;
            &#x3C;a class=&#x22;syn-dropdown-item&#x22; href=&#x22;#&#x22;&#x3E;&#x3C;i class=&#x22;material-icons&#x22;&#x3E;insert_drive_file&#x3C;/i&#x3E; New&#x3C;/a&#x3E;
            &#x3C;a class=&#x22;syn-dropdown-item&#x22; href=&#x22;#&#x22;&#x3E;&#x3C;i class=&#x22;material-icons&#x22;&#x3E;save&#x3C;/i&#x3E; Save&#x3C;/a&#x3E;
            &#x3C;div class=&#x22;syn-dropdown-divider&#x22;&#x3E;&#x3C;/div&#x3E;
            &#x3C;a class=&#x22;syn-dropdown-item&#x22; href=&#x22;#&#x22;&#x3E;&#x3C;i class=&#x22;material-icons&#x22;&#x3E;send&#x3C;/i&#x3E; Send&#x3C;/a&#x3E;
            &#x3C;a class=&#x22;syn-dropdown-item&#x22; href=&#x22;#&#x22;&#x3E;&#x3C;i class=&#x22;material-icons&#x22;&#x3E;content_copy&#x3C;/i&#x3E; Clone&#x3C;/a&#x3E;
        &#x3C;/div&#x3E;
    &#x3C;/div&#x3E;

    &#x3C;hr&#x3E;

    &#x3C;!-- Split button --&#x3E;
    &#x3C;div class=&#x22;syn-dropdown&#x22; synDropdown&#x3E;
        &#x3C;div class=&#x22;syn-btn-split&#x22;&#x3E;
            &#x3C;button type=&#x22;button&#x22; class=&#x22;syn-btn syn-btn-gray&#x22;&#x3E;Split Button&#x3C;/button&#x3E;
            &#x3C;button type=&#x22;button&#x22; class=&#x22;syn-btn syn-btn-gray syn-btn-dropdown&#x22; synDropdownToggle&#x3E;&#x3C;/button&#x3E;
        &#x3C;/div&#x3E;
        &#x3C;div class=&#x22;syn-dropdown-menu&#x22;&#x3E;
            &#x3C;a class=&#x22;syn-dropdown-item&#x22; href=&#x22;#&#x22;&#x3E;Action&#x3C;/a&#x3E;
            &#x3C;a class=&#x22;syn-dropdown-item&#x22; href=&#x22;#&#x22;&#x3E;Another action&#x3C;/a&#x3E;
            &#x3C;a class=&#x22;syn-dropdown-item&#x22; href=&#x22;#&#x22;&#x3E;Something else here&#x3C;/a&#x3E;
        &#x3C;/div&#x3E;
    &#x3C;/div&#x3E;

    &#x3C;hr&#x3E;

    &#x3C;!-- Default dropup button --&#x3E;
    &#x3C;div class=&#x22;syn-dropdown syn-dropup&#x22; synDropdown&#x3E;
        &#x3C;button type=&#x22;button&#x22; class=&#x22;syn-btn syn-btn-gray syn-btn-dropdown&#x22; synDropdownToggle&#x3E;
            &#x3C;span class=&#x22;sr-only&#x22;&#x3E;Toggle Dropdown&#x3C;/span&#x3E;
        &#x3C;/button&#x3E;
        &#x3C;div class=&#x22;syn-dropdown-menu&#x22;&#x3E;
            &#x3C;a class=&#x22;syn-dropdown-item&#x22; href=&#x22;#&#x22;&#x3E;Action&#x3C;/a&#x3E;
            &#x3C;a class=&#x22;syn-dropdown-item&#x22; href=&#x22;#&#x22;&#x3E;Another action&#x3C;/a&#x3E;
            &#x3C;a class=&#x22;syn-dropdown-item&#x22; href=&#x22;#&#x22;&#x3E;Something else here&#x3C;/a&#x3E;
        &#x3C;/div&#x3E;
    &#x3C;/div&#x3E;
    </code>
    </pre>
        </tab>

    </syn-tabset>


    <h3 id="api">API Reference</h3>

    <h4 class="text-blue">DropdownDirective</h4>

    <table class="syn-table">
        <thead>
        <tr>
            <th>Input</th>
            <th>Type</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>appendToBody</td>
            <td><code class="nohighlight">Boolean</code></td>
            <td>Allows to attach dropdown to body, will be replaced with container="body"</td>
        </tr>
        <tr>
            <td>autoClose</td>
            <td><code class="nohighlight">String</code></td>
            <td><ul>
                <li>nonInput - (default) automatically closes the dropdown when any of its elements is clicked — as long as the clicked element is not an input or a textarea.</li>
                <li>always - automatically closes the dropdown when any of its elements is clicked</li>
                <li>outsideClick - closes the dropdown automatically only when the user clicks any element outside the dropdown</li>
                <li>disabled - disables the auto close. You can then control the open/close status of the dropdown manually, by using is-open. Please notice that the dropdown will still close if the toggle is clicked, the esc key is pressed or another dropdown is open</li>
            </ul></td>
        </tr>
        <tr>
            <td>isOpen</td>
            <td><code class="nohighlight">Boolean</code></td>
            <td>if true dropdown will be opened</td>
        </tr>
        <tr>
            <td>keyboardNav</td>
            <td><code class="nohighlight">Boolean</code></td>
            <td>if true will enable navigation of dropdown list elements with the arrow keys</td>
        </tr>
        </tbody>
    </table>

    <table class="syn-table">
        <thead>
        <tr>
            <th>Output</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>isOpenChange</td>
            <td>fired when isOpen value changes</td>
        </tr>
        <tr>
            <td>onToggle</td>
            <td>fired when dropdown toggles, $event:boolean equals dropdown isOpen state</td>
        </tr>
        </tbody>
    </table>

    <h4 class="text-blue">DropdownToggleDirective</h4>

    <table class="syn-table">
        <thead>
        <tr>
            <th>Inputs</th>
            <th>Type</th>
            <th>Default</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>addToggleClass</td>
            <td><code class="nohighlight">Boolean</code></td>
            <td>True</td>
            <td>if true the syn-dropdown-toggle class will be added to the element</td>
        </tr>
        <tr>
            <td>isDisabled</td>
            <td><code class="nohighlight">Boolean</code></td>
            <td>False</td>
            <td>if true dropdown toggle will be disabled</td>
        </tr>
        </tbody>
    </table>

    <h4 class="text-blue">DropdownConfig</h4>

    <table class="syn-table">
        <thead>
        <tr>
            <th>Property</th>
            <th>Type</th>
            <th>Default</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>autoClose</td>
            <td><code class="nohighlight">String</code></td>
            <td>NONINPUT</td>
            <td>Default dropdown auto closing behavior</td>
        </tr>
        <tr>
            <td>keyboardNav</td>
            <td><code class="nohighlight">Boolean</code></td>
            <td>False</td>
            <td>Is keyboard navigation enabled by default</td>
        </tr>
        <tr>
            <td>direction</td>
            <td><code class="nohighlight">NavDirection</code></td>
            <td>NavDirection.Horizontal</td>
            <td>Direction of nav items, Horizontal or Vertical</td>
        </tr>
        <tr>
            <td>theme</td>
            <td><code class="nohighlight">NavTheme</code></td>
            <td>NavTheme.Default</td>
            <td>Navigation themes, Plain, Blue or Default.</td>
        </tr>
        <tr>
            <td>active</td>
            <td><code class="nohighlight">INavItem</code></td>
            <td>{{ '{' }}}</td>
            <td>Active Nav Item.</td>
        </tr>
        </tbody>
    </table>

</section>
<aside class="syn-sidebar syn-sidebar-transparent scrollable-y">
    <syn-nav [data]="contentsNav"  [callback]="scrollTo"></syn-nav>
</aside>