<section #container class="syn-section scrollable-y">
    <div class="syn-header">
        <div class="syn-header-icon">
            <i class="material-icons">mode_comment</i>
        </div>
        <div class="syn-header-details">
            <syn-breadcrumb [prefix]="'Home'"></syn-breadcrumb>
            <h1>Tooltips</h1>
        </div>
    </div>

    <h3>Summary</h3>
    <p>The tooltip component is a message component which appears when a cursor is positioned over an icon, image, hyperlink, or other element.</p>

    <h3 id="usage">Usage</h3>

    <pre><code class="typescript">
        // RECOMMENDED
        import {{ '{' }}TooltipModule} from "../src/tooltip/tooltip.module";
        // or
        import {{ '{' }}TooltipModule} from "../src";

        @NgModule({{ '{' }}
          imports: [TooltipModule.forRoot(),...]
        })
        export class AppModule(){{ '{' }}}
    </code>
     <code>
    &#x3C;!-- Simple static text --&#x3E;
    &#x3C;span syn-tooltip=&#x22;content to be shown in the tooltip&#x22;
        [disabled]=&#x22;false&#x22;
        [animation]=&#x22;true&#x22;
        placement=&#x22;top&#x22;&#x3E;
        element on which this tooltip is applied.
    &#x3C;/span&#x3E;

     &#x3C;!-- Simple dynamic text --&#x3E;
    &#x3C;span [syn-tooltip]=&#x22;getTooltipText()&#x22;
        [disabled]=&#x22;false&#x22;
        [animation]=&#x22;true&#x22;
        placement=&#x22;top&#x22;&#x3E;
        element on which this tooltip is applied.
    &#x3C;/span&#x3E;

    &#x3C;!-- Dynamic html markup --&#x3E;
    &#x3C;syn-tooltip-content #myTooltip [animation]=&#x22;true&#x22; placement=&#x22;left&#x22;&#x3E;
        &#x3C;b&#x3E;Very&#x3C;/b&#x3E; &#x3C;span style=&#x22;color: #C21F39&#x22;&#x3E;Dynamic&#x3C;/span&#x3E; &#x3C;span style=&#x22;color: #00b3ee&#x22;&#x3E;Reusable&#x3C;/span&#x3E;
        &#x3C;b&#x3E;&#x3C;i&#x3E;&#x3C;span style=&#x22;color: #ffc520&#x22;&#x3E;Tooltip With&#x3C;/span&#x3E;&#x3C;/i&#x3E;&#x3C;/b&#x3E; &#x3C;small&#x3E;Html support&#x3C;/small&#x3E;.
    &#x3C;/tooltip-content&#x3E;

    &#x3C;button [syn-tooltip]=&#x22;myTooltip&#x22;&#x3E;element on which this tooltip is applied.&#x3C;/button&#x3E;
     </code>
    </pre>



    <h3 id="examples">Examples</h3>

    <p>Here is an example of a link with a tooltip that has a top placement
    <a href="#" syn-tooltip="my tooltip message is here"
          [disabled]="false"
          [animation]="true"
          placement="top">
        tooltip
    </a>. You can also add styles, dynamic html content to a tooltip and have it show while hovering over a
    <syn-tooltip-content #myTooltip [animation]="true" placement="left">
        <b>Very</b> <span class="text-blue">Dynamic</span> <span class="text-capitalise text-green">Reusable</span>
        <b><i><span class="text-blue-lighter">Tooltip With</span></i></b> <small>Html support</small>.
    </syn-tooltip-content>
    <button  class="syn-btn syn-btn-blue" [syn-tooltip]="myTooltip">Button</button>. You can also have tooltips appear on the
        <a href="#" syn-tooltip="my tooltip showing on the right"
           [disabled]="false"
           [animation]="true"
           placement="right">
            right
        </a> or on the
        <a href="#" syn-tooltip="my tooltip showing on the left"
           [disabled]="false"
           [animation]="true"
           placement="left">
            left
        </a>.

    </p>
    <hr>
    <p>

        You can also have dynamic content in your <a href="#" [syn-tooltip]="dynamicContentTooltip">tooltips</a>.
        <input type="text" class="syn-form-control" [(ngModel)]="dynamicTooltipText" [syn-tooltip]="dynamicContentTooltip" placeholder="Enter tooltip text">
        <syn-tooltip-content #dynamicContentTooltip [animation]="true" placement="top">
            {{dynamicTooltipText}}
        </syn-tooltip-content>.

    </p>



    <h3 id="code">Code</h3>
    <syn-tabset>
        <tab heading='Template'>
    <pre class="scrollable"><code class="html">
    &#x3C;p&#x3E;Here is an example of a link with a tooltip that has a top placement
        &#x3C;a href=&#x22;#&#x22; syn-tooltip=&#x22;my tooltip message is here&#x22;
              [disabled]=&#x22;false&#x22;
              [animation]=&#x22;true&#x22;
              placement=&#x22;top&#x22;&#x3E;
            tooltip
        &#x3C;/a&#x3E;. You can also add styles, dynamic html content to a tooltip and have it show while hovering over a
        &#x3C;syn-tooltip-content #myTooltip [animation]=&#x22;true&#x22; placement=&#x22;left&#x22;&#x3E;
            &#x3C;b&#x3E;Very&#x3C;/b&#x3E; &#x3C;span class=&#x22;text-blue&#x22;&#x3E;Dynamic&#x3C;/span&#x3E; &#x3C;span class=&#x22;text-capitalise text-green&#x22;&#x3E;Reusable&#x3C;/span&#x3E;
            &#x3C;b&#x3E;&#x3C;i&#x3E;&#x3C;span class=&#x22;text-blue-lighter&#x22;&#x3E;Tooltip With&#x3C;/span&#x3E;&#x3C;/i&#x3E;&#x3C;/b&#x3E; &#x3C;small&#x3E;Html support&#x3C;/small&#x3E;.
        &#x3C;/syn-tooltip-content&#x3E;
        &#x3C;button  class=&#x22;syn-btn syn-btn-blue&#x22; [syn-tooltip]=&#x22;myTooltip&#x22;&#x3E;Button&#x3C;/button&#x3E;. You can also have tooltips appear on the
            &#x3C;a href=&#x22;#&#x22; syn-tooltip=&#x22;my tooltip showing on the right&#x22;
               [disabled]=&#x22;false&#x22;
               [animation]=&#x22;true&#x22;
               placement=&#x22;right&#x22;&#x3E;
                right
            &#x3C;/a&#x3E; or on the
            &#x3C;a href=&#x22;#&#x22; syn-tooltip=&#x22;my tooltip showing on the left&#x22;
               [disabled]=&#x22;false&#x22;
               [animation]=&#x22;true&#x22;
               placement=&#x22;left&#x22;&#x3E;
                left
            &#x3C;/a&#x3E;.

        &#x3C;/p&#x3E;
        &#x3C;hr&#x3E;
    &#x3C;p&#x3E;

    You can also have dynamic content in your &#x3C;a href=&#x22;#&#x22; [syn-tooltip]=&#x22;dynamicContentTooltip&#x22;&#x3E;tooltips&#x3C;/a&#x3E;.
    &#x3C;input type=&#x22;text&#x22; class=&#x22;syn-form-control&#x22; [(ngModel)]=&#x22;dynamicTooltipText&#x22; [syn-tooltip]=&#x22;dynamicContentTooltip&#x22; placeholder=&#x22;Enter tooltip text&#x22;&#x3E;
    &#x3C;syn-tooltip-content #dynamicContentTooltip [animation]=&#x22;true&#x22; placement=&#x22;top&#x22;&#x3E;
        {{dynamicTooltipText}}
    &#x3C;/syn-tooltip-content&#x3E;.

    &#x3C;/p&#x3E;
    </code>
    </pre>
        </tab>
        <tab heading='Typescript'>
     <pre><code class="typescript">
    import {{ '{' }}Component} from &#x27;@angular/core&#x27;;
    import {{ '{' }}AppService} from &#x22;../app.service&#x22;;
    import {{ '{' }}BaseComponent} from &#x22;../base.component&#x22;;

    @Component({{ '{' }}
        selector: &#x27;tooltip-component&#x27;,
        templateUrl: &#x27;app/tooltip/tooltip.tpl.html&#x27;
    })
    export class TooltipComponent extends BaseComponent {{ '{' }}

        private dynamicTooltipText:string = &#x22;sample text&#x22;;

        constructor(appService:AppService){{ '{' }}
            super(appService);
        }
    }

     </code>
     </pre>
        </tab>
    </syn-tabset>


    <h3 id="api">API Reference</h3>

    <h4 class="text-blue">TooltipContentComponent</h4>

    <table class="syn-table">
        <thead>
        <tr>
            <th>Input</th>
            <th>Type</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>hostElement</td>
            <td><code class="nohighlight">HTMLElement</code></td>
            <td>the element that will call this component to show</td>
        </tr>
        <tr>
            <td>content</td>
            <td><code class="nohighlight">String</code></td>
            <td>the content that shows inside the tooltip</td>
        </tr>
        <tr>
            <td>placement</td>
            <td><code class="nohighlight">String</code></td>
            <td>place the tooltip either top|bottom|left|right</td>
        </tr>
        <tr>
            <td>animation</td>
            <td><code class="nohighlight">Boolean</code></td>
            <td>animate the tooltip when shown or hidden</td>
        </tr>
        </tbody>
    </table>

    <h4 class="text-blue">TooltipDirective</h4>

    <table class="syn-table">
        <thead>
        <tr>
            <th>Input</th>
            <th>Type</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>content</td>
            <td><code class="nohighlight">String</code></td>
            <td>the content that shows inside the tooltip</td>
        </tr>
        <tr>
            <td>disabled</td>
            <td><code class="nohighlight">Boolean</code></td>
            <td>disable the tooltip or not</td>
        </tr>
        <tr>
            <td>placement</td>
            <td><code class="nohighlight">String</code></td>
            <td>place the tooltip either top|bottom|left|right</td>
        </tr>
        <tr>
            <td>animation</td>
            <td><code class="nohighlight">Boolean</code></td>
            <td>animate the tooltip when shown or hidden</td>
        </tr>
        </tbody>
    </table>

</section>
<aside class="syn-sidebar syn-sidebar-transparent scrollable-y">
    <syn-nav [data]="contentsNav"  [callback]="scrollTo"></syn-nav>
</aside>